# proxychains.conf  VER 3.1
#
#        HTTP, SOCKS4, SOCKS5 tunneling proxifier with DNS.
#

# The option below identifies how the ProxyList is treated.
# only one option should be uncommented at time,
# otherwise the last appearing option will be accepted
#
dynamic_chain
#
# Dynamic - Each connection will be done via chained proxies
# all proxies chained in the order as they appear in the list
# at least one proxy must be online to play in chain
# (dead proxies are skipped)
# otherwise EINTR is returned to the app
#
#strict_chain
#
# Strict - Each connection will be done via chained proxies
# all proxies chained in the order as they appear in the list
# all proxies must be online to play in chain
# otherwise EINTR is returned to the app
#
#random_chain
#
# Random - Each connection will be done via random proxy
# (or proxy chain, see  chain_len) from the list.
# this option is good to test your IDS :)

# Make sense only if random_chain
#chain_len = 3

# Quiet mode (no output from library)
#quiet_mode

# Proxy DNS requests - no leak for DNS data
proxy_dns

# Some timeouts in milliseconds
tcp_read_time_out 15000
tcp_connect_time_out 8000

# ProxyList format
#       type  host  port [user pass]
#       (values separated by 'tab' or 'blank')
#
#
#        Examples:
#
#               socks5  192.168.67.78   1080    lamer   secret
#               http    192.168.89.3    8080    justu   hidden
#               socks4  192.168.1.49    1080
#               http    192.168.39.93   8080
#
#
#       proxy types: http, socks4, socks5
#        ( auth types supported: "basic"-http  "user/pass"-socks )
#
[ProxyList]
# add proxy here ...
# meanwile
# defaults set to "tor"
socks4  127.0.0.1 9050
http 116.117.134.134 9999
http 203.202.245.62 80
http 195.146.50.22 88
http 35.239.155.190 80
http 5.190.141.27 8080
http 51.15.217.77 3128
http 71.44.222.26 5000
http 175.141.69.203 80
http 60.170.152.46 38888
http 116.117.134.134 82
http 115.243.116.150 80
http 103.141.108.161 3127
http 103.31.251.17 8080
http 115.243.116.151 80
http 41.32.229.249 80
http 62.91.90.130 8080
http 195.146.50.22 80
http 139.99.105.5 80
http 221.182.31.54 8080
http 36.88.124.83 80
http 103.215.177.231 80
http 14.207.56.88 8080
http 116.117.134.134 81
http 176.108.47.38 3128
http 175.141.69.200 80
http 217.219.31.210 36947
http 103.11.106.69 8181
http 115.243.35.98 8080
http 139.5.132.245 8080
http 168.0.86.146 8080
http 27.123.223.179 3128
http 62.23.15.92 6666
http 217.219.61.6 8080
http 216.250.96.132 80
http 190.167.6.173 999
http 195.146.50.22 7004
http 51.210.106.68 443
http 116.117.134.134 80
http 220.174.236.211 8091
http 195.146.50.22 8081
http 116.117.134.134 8081
http 62.210.71.225 8080
http 103.30.93.170 8080
http 37.255.248.77 8080